</body>
<% const year = new Date().getFullYear() %>

<footer>&copy; <%= year %> uBill - All Rights Reserved | 
    <a href="https://okin.onrender.com/" 
    target="_blank" rel="noopener noreferrer" class="" >Ọkín technologies</a></footer> 


