<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    


<P style="text-align: center; margin-top: 250px; font-size: 80px;"> The messaage was sent <strong style="color: green;">successfuly</strong> !</P>

<div style=" text-align: center; ">
    <p style="font-size: 30px;"><em>Response will be sent to the you email inputed!</em></p>
<a  href='/user/dashboard' style="font-size: 40px; color: blue; text-align: center; text-decoration: none;">Go back to dashboard...</a>
</div>
<%-include('./includes/footer')%>